.color-maximum-yellow {
    background-color: #FFFF3F
}
.color-xanthic {
    background-color: #EEEF20
}
.color-titanium-yellow {
    background-color: #DDDF00
}
.color-pear {
    background-color: #D4D700
}
.color-bitter-lemon {
    background-color: #BFD200
}
.color-android-green {
    background-color: #AACC00
}
.color-apple-green {
    background-color: #80B918
}
.color-green-ryb {
    background-color: #55A630
}
.color-spanish-green {
    background-color: #2b9348
}
.color-spanish-virgidian {
    background-color: #007F5F
}

