.diet-box {
    padding: 1rem;
}

.container {
    margin-top: 20px;
}

.min-vh-10 {
    min-height: 10vh!important;
}

.img-article {
    object-fit: none;
    object-position: center;
    width: 100%;
    max-height: 250px;
}
