{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-12">
            <h3>Add new article</h3>
            <form action="{{url "Articles.Insert"}}" method="POST" enctype="multipart/form-data">
                {{with $field := field "thumbnail" .}}
                    <input type="file" name="{{$field.Name}}" id="{{$field.Name}}" accept="image/jpeg, image/png">
                {{end}}
                {{with $field := field "name" .}}
                    <div class="form-group">
                        <input type="text" class="form-control" name="{{$field.Name}}" placeholder="Enter title" value="{{$field.Value}}">
                    </div>
                {{end}}
                {{with $field := field "description" .}}
                    <div class="form-group">
                        <textarea class="form-control" name="{{$field.Name}}">Enter description</textarea>
                    </div>
                {{end}}
                {{with $field := field "text" .}}
                    <div class="form-group">
                        <textarea class="form-control" id="mytextarea" name="{{$field.Name}}">Enter text</textarea>
                    </div>
                {{end}}
                <button id="save-button" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#mytextarea',
        plugins: 'image',
        images_upload_url: 'image'
    });
</script>

{{template "footer.html" .}}