{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
    <div class="row">
        {{if (session "user.Admin" .)}}
            <div class="col-xl-4 diet-box">
                <div class="card text-white text-center bg-success h-100">
                    <div class="card-body">
                        <a href="{{url "Articles.Add"}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="white" class="bi bi-plus h-100" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        {{end}}
        {{if (session "user.Admin" .)}}
            {{$btnShow := msg . "btn.show"}}
            {{$btnEdit := msg . "btn.edit"}}
            {{range .articles}}
                <div class="col-xl-4 diet-box">
                    <div class="card h-100">
                        <img class="card-img-top" src="data:image/jpg;base64, {{.Thumbnail.Data}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{.Article.Name}}</h5>
                            <p class="card-text">{{.Article.Description}}</p>
                            <a href="{{url "Articles.Show" .Article.ID}}" class="btn btn-primary">{{$btnShow}}</a>
                            <a href="{{url "Articles.Edit" .Article.ID}}" class="btn btn-primary">{{$btnEdit}}</a>
                        </div>
                    </div>
                </div>
            {{end}}
        {{else}}
            {{$btnShow := msg . "btn.show"}}
            {{$btnBuy := msg . "btn.buy"}}
            {{range .articles}}
                <div class="col-xl-4 diet-box">
                    <div class="card h-100">
                        <img class="card-img-top" src="data:image/jpg;base64, {{.Thumbnail.Data}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{.Article.Name}}</h5>
                            <p class="card-text">{{.Article.Description}}</p>
                            <a href="{{url "Articles.Show" .Article.ID}}" class="btn btn-primary">{{$btnShow}}</a>
                        </div>
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>
</div>
{{template "footer.html" .}}