{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
    <div class="row justify-content-md-center">
        {{range .articles}}
            <div class="col-xl-4 diet-box">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/public/img/diet.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{.Name}}</h5>
                        {{.Description}}
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
{{template "footer.html" .}}