{{set . "title" .siteTitle }}
{{template "header.html" .}}
<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <form action="{{url "Login.Login"}}" method="POST">
                {{with $field := field "mail" .}}
                    <p class="{{$field.ErrorClass}}">
                        <strong>Mail:</strong>
                        <input type="text" name="mail" value="{{$field.Value}}" readonly>
                        <span class="error">{{$field.Error}}</span>
                    </p>
                {{end}}
                {{with $field := field "password" .}}
                    <p class="{{$field.ErrorClass}}">
                        <strong>Password:</strong>
                        <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
                        <span class="error">{{$field.Error}}</span>
                    </p>
                {{end}}
                <p class="buttons">
                    <input type="submit" value="Login"> <a href="{{url "App.Index"}}">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>
{{template "footer.html" .}}
