{{set . "title" .siteTitle }}
{{template "header.html" .}}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-6">
            <form action="{{url "Register.Register"}}" method="POST">
                {{with $field := field "mail" .}}
                    <div class="form-group">
                        <label for="{{$field.Name}}">Email:</label>
                        <input type="email" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" readonly>
                    </div>
                {{end}}
                {{with $field := field "name" .}}
                    <div class="form-group">
                        <label for="{{$field.Name}}">Name:</label>
                        <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="Enter your name">
                    </div>
                {{end}}
                {{with $field := field "password" .}}
                    <div class="form-group">
                        <label for="{{$field.Name}}">Password:</label>
                        <input type="password" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="Enter password">
                    </div>
                {{end}}
                <p class="buttons">
                    <input type="submit" class="btn btn-primary" value="Register">
                    <a href="{{url "App.Index"}}" class="btn btn-secondary">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>
{{template "footer.html" .}}
